* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #CDDCDD;
}

.container {
    background-color: #ffff;
    width: 95vmin;
    font-size: 16px;
    min-width: 30em;
    height: 30em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    bottom: 30%;
    left: 50%;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 2fr 9fr;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #E6F1F2;
}

h3 {
    height: 33.33%;
    display: grid;
    place-items: center;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

.tabsContent {
    background-color: #ffffff;
    padding: 1em 1.5em;
}

.tabsContent h4 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #000024;
    font-weight: 600;
}

.tabsContent p {
    text-align: center;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}

.tabsContent div {
    display: none;
}

.tabsContent .active {
    display: block;
}

.tabs .active {
    background-color: #ffffff;
    color: #2C3E50;

}

.active h4 {
    text-align: center;
}

input {
    font-size: 1.2em;
    padding: 1em;
    width: 60%;
    margin-bottom: 0.6em;
    background-color: #E6EBF2;
    border: none;
}

input:focus {
    background: #C6CDD6;
    outline: none !important;
    border: 1px solid #C6CDD6;
    box-shadow: 0 0 10px #719ECE;
}

input[type=number] {
    border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=button] {
    width: 70%;
    border-radius: 10px;
    background-color: #ccc;
}

input:disabled {
    background: #ccc;
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 14px;
        min-width: 90vmin;
        height: 70vh;
    }

    .tabsContent {
        padding: 1em 1.2em;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
    margin: 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {
    display: none
}

.slider::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked+.slider {
    background-color: #2C3E50;
}

input:checked+.slider:before {
    transform: translateX(50px);
}