* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #CDDCDD;
}

.container {
    background-color: #ffff;
    width: 95vmin;
    font-size: 16px;
    min-width: 30em;
    height: 30em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    bottom: 30%;
    left: 50%;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 2fr 9fr;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #E6F1F2;
}

h3 {
    height: 33.33%;
    display: grid;
    place-items: center;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

.tabsContent {
    background-color: #ffffff;
    padding: 1em 1.5em;
}

.tabsContent h4 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #000024;
    font-weight: 600;
}

.tabsContent p {
    text-align: center;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
}

.tabsContent div {
    display: none;
}

.tabsContent .active {
    display: block;
}

.tabs .active {
    background-color: #ffffff;
    color: #2C3E50;

}

.active h4 {
    text-align: center;
}

input {
    font-size: 1.2em;
    padding: 1em;
    width: 60%;
    margin-bottom: 0.6em;
}

input:focus {
    background: #CDDCDD;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=button] {
    width: 70%;
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 14px;
        min-width: 90vmin;
        height: 70vh;
    }

    .tabsContent {
        padding: 1em 1.2em;
    }
}